<third-a>
  <p>{ message }</p>
  <second></second>
  <script>
    import Second from './second.riot'

    export default {
      components: {
        second: Second
      },
      message: 'Hello!'
    }
  </script>
</third-a>
